@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    //display: none;
    border-radius: 0;
  }

  //
  .playmarket {
    width: 48.0000vw;
  }
  .footer-bottom__cont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .copyr {
    order: 3;
    font-size: 3.7333vw;
    line-height: 1.2;
    text-align: center;
    width: 100%;

    p {
      font-size: 2.6667vw;
      line-height: 1.2;
      text-align: center;
      width: 100%;
      margin-top: 3.2000vw;
    }
  }
  .footer-links {
    width: 100%;
    margin-bottom: 3.2000vw;
    order: 1;
    flex-wrap: wrap;
    gap: 3.2000vw;

    a {
      font-size: 2.6667vw;
      line-height: 1.2;

    }
  }
  .cards-pay {
    gap: 2.0667vw;
    order: 2;
    margin: 0;

    .img {
      height: 8.6667vw;
    }
  }
  .footer-bottom {
    padding: 3.7333vw 0;
  }
  .footer-column .header-top__socs {
    padding-left: 0;
    padding-right: 0;
    margin-top: 3.2000vw;
    justify-content: flex-start;
  }
  .footer-column {
    .wrp {
      > a.tel {
        font-size: 3.7333vw;
        line-height: 1.2;
        margin-bottom: 1.6000vw;
      }

      > a.lnk {
        font-size: 4.2667vw;
        line-height: 1.2;
        margin-top: 3.2000vw;

        img {
          width: 5.0667vw;
          margin-right: 1.8667vw;
        }
      }
    }
  }
  .footer-column {
    margin-bottom: 0;

    &:first-child {
      margin-top: 3.5vw;
    }

    &:nth-child(2) {
      margin-bottom: 3.5vw;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > ul {
      width: 100%;

      li {
        width: 100%;
        margin-bottom: 2.4000vw;

        &:last-child {
          margin-bottom: 0;
        }

        a, p {
          font-size: 3.7333vw;
          line-height: 1.2;
        }
      }
    }
  }
  .footer-column.no-wrp {
    > span {
      border: none;

      &::after, &::before {
        content: none;
      }
    }
  }
  .footer-column > span {
    font-size: 4.2667vw;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 3.8vw 0;
    border-top: 1px solid #f4f4f4;
    width: 100%;
    cursor: pointer;
    position: relative;

    &::after, &::before {
      width: 3.6333vw;
      height: 1px;
      background: $main-color;
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;

    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .footer-column.open {
    > span {
      &::after {
        transform: translate(-50%, -50%);
      }
    }
  }
  .footer-top__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;

    .logo {
      width: 35vw;
      height: auto;
      display: flex;
      margin-bottom: 5.8667vw;

      a, img {
        width: 100%;
        height: auto;
      }
    }
  }
  .footer-column {
    width: 100%;

    .wrp, > ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;
    }

    &.open {
      .wrp, > ul {
        max-height: 120.0000vw;
      }
    }
  }
  .footer-top {
    padding: 8.0000vw 0;
  }
  .subscribe-form form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .btn {
      width: 100%;
      background: #000;
      border-color: #000;
      margin-top: 4vw;

      color: #fff;
      &::after {
        filter: brightness(0) invert(1);
      }
      &:hover {
        background: #fff;
        color: #000;
        &::after {
          filter: brightness(0);
        }
      }

    }
  }
  .subscribe-form form input {
    padding: 2.9000vw 3.7333vw;
    font-size: 3.7333vw;
    line-height: 1.2;

    &::placeholder {
      font-size: 3.7333vw;
      line-height: 1.2;
    }
  }
  .subscribe-form form .btn {
    padding: 2.9000vw 3.7333vw;
    position: static;
  }
  .subscribe-form form .btn::after {
    width: 8.0000vw;
    height: 2.9333vw;
    margin-left: 3.2000vw;
  }
  .subscribe-form > p {
    max-width: 90%;
    font-size: 3.7333vw;
    line-height: 1.2;
    margin-top: 1.8667vw;
    margin-bottom: 4.8000vw;
  }
  .subscribe-form form {
    width: 100%;
    max-width: 100%;
  }
  .subscribe-form {
    max-width: 100%;
  }
  .subscribe-cont {
    margin-left: -4.0000vw;
    margin-right: -4.0000vw;
    padding: 5.3333vw 4.0000vw;
    width: calc(100% + 8.0000vw);
  }
  .control-seo {
    font-size: 3.7333vw;
    line-height: 1.2;
    margin-top: 3.2000vw;
  }
  .seo-text {
    max-height: 78.9333vw;

    h1 {
      font-size: 4.8000vw;
      line-height: 1.2;
      margin-bottom: 4.0000vw;
    }

    p, li {
      font-size: 3.7333vw;
      line-height: 1.2;
    }

    p {
      margin-bottom: 2.6667vw;
    }

    h2, h3, h4, h5, h6 {
      font-size: 4.2667vw;
    }
  }
  .seo-block {
    width: 100%;
    max-width: 100%;
    margin-top: 9.3333vw;
  }
  .blog-block__list {
    gap: 3.2000vw;
  }
  .single-blog-list {
    padding-bottom: 3.7333vw;
    flex-direction: column-reverse;

    &:first-child {
      .rght {
        .img {
          display: none;
        }
      }

      .lft {
        p {
          font-size: 4.2667vw;
          line-height: 1.2;
          max-width: 100%;
        }
      }

    }

    .lft {
      max-width: 100%;
      width: 100%;

      p {
        font-size: 4.2667vw;
        line-height: 1.2;
      }
    }

    .rght {
      width: 100%;
      margin-bottom: 2.6667vw;
      align-items: flex-start;

      .img {
        height: 24.8000vw;
        margin-top: 2.6667vw;
        display: none;
      }

      span {
        font-size: 3.2000vw;
        line-height: 1.2;
      }

    }
  }
  .blog-block {
    width: 100%;
  }
  .blog-block .title-head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.3333vw;

    > a {
      font-size: 3.2000vw;
      line-height: 1.2;
    }
  }
  .seo-blog__cont {
    flex-direction: column-reverse;
  }
  .seo-blog {
    margin: 8.0000vw 0;
  }
  .btn.btn--black {
    padding: 2.1333vw 4.8000vw;

    &::after {
      width: 8.0000vw;
      height: 2.6667vw;
      margin-left: 3.2000vw;
    }
  }
  .promo-bonus__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.6667vw;

    .btn {
      width: 100%;
      margin-top: 3.2000vw;
    }
  }
  .promo-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 64.0000vw;
      height: auto;
      display: flex;
      margin-right: 0;
      margin-bottom: 2.1333vw;
    }

    .txt {
      width: 100%;
      align-items: center;
      justify-content: flex-start;

      span {
        text-align: left;
        font-size: 4.2667vw;
        line-height: 1.2;
        margin-bottom: 2.0667vw;
        max-width: 100%;
      }

      p {
        font-size: 3.7333vw;
        line-height: 1.2;
        text-align: left;
      }
    }
  }

  .promo-bonus {
    padding: 8.0000vw 0;
  }
  .bonus-statuses {
    padding: 8.0000vw 0;
  }
  .subscribe-form form input {
    border-radius: 0;
  }
  .bonus-statuses__cont {
    flex-wrap: wrap;
    gap: 5.2000vw;
  }
  .single-status {
    width: 100%;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 11.2000vw;
      height: 11.2000vw;
      margin-right: 2.0667vw;
      margin-bottom: 0;
    }

    .txt {
      width: 100%;

      span {
        font-size: 3.7333vw;
        line-height: 1.2;
        margin-bottom: 1.3333vw;
      }

      p {
        font-size: 3.2000vw;
        line-height: 1.2;
      }
    }
  }
  .single-card .textual > p {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .single-card .textual .ic {
    width: 4.5333vw;
  }
  .promo-text .img {
    display: none;
  }
  .single-card .textual > p strong {
    font-size: 3.7333vw;
    line-height: 1.2;
    margin-right: 1.3333vw;
  }
  .single-card {


    .textual {
      margin-top: 2.6667vw;
      flex-grow: 1;

      > span {
        font-size: 4.2000vw;
        line-height: 1.2;
        margin-bottom: 2.1333vw;
      }

      > a {
        font-size: 3.2vw;
        line-height: 1.2;
        margin-bottom: 2.6667vw;

        strong {
          display: inline-block;
          width: 100%;
          margin-top: 1.0667vw;
        }
      }

      > p {
        font-size: 4.2000vw;
        line-height: 1.2;
      }

      .sizes {
        > span {
          font-size: 3.7333vw;
          line-height: 1.2;
          margin-bottom: 1.0667vw;
        }

        ul {
          gap: 1.6000vw;

          li {
            font-size: 4.2667vw;
            line-height: 1.2;
          }
        }
      }

      .bot {
        display: none;
        margin-top: 2.6667vw;
        opacity: 1;
        pointer-events: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .btn {
          width: 100%;
          margin-top: 1.6000vw;
        }
      }
    }

    .fav {
      width: 7.4667vw;
      height: 7.4667vw;
      padding: 1.3333vw;
      top: 0;
      right: 0;
    }

    .tags {
      top: 0;
      left: 0;
      gap: 1.3333vw;

      .tag {
        font-size: 2.6667vw;
        line-height: 1.2;
        padding: 0.8000vw 1.3333vw;
      }
    }

  }
  .product-slider__cont {
    padding: 0 0 4.0000vw;
    margin-bottom: 2.6667vw;
  }
  .progress-bar {
    height: 1.3333vw;
    margin-top: 3.2000vw;
    margin-bottom: 2.6667vw;
  }
  .product-slider {
    padding: 8.0000vw 0 4.0000vw;

    .btns {
      display: none;
    }
  }
  .title-head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 6.4000vw;
  }
  .title {
    font-size: 4.8000vw;
    line-height: 1.2;
  }
  .section-block {
    padding: 4.0000vw 0;
  }
  .section-block__cont {
    overflow-x: auto;
    gap: 4.0000vw;
    padding: 3.2000vw 0;
  }
  .section-item {
    width: calc(36%);
    flex-shrink: 0;

    .img {
      width: 100%;
      padding-top: 64%;
      margin-bottom: 2.6667vw;
    }

    font-size: 3.7333vw;
    line-height: 1.2;
  }

  .dots {
    width: 100%;
    margin: 3.2000vw 0;
    gap: 3.2000vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .single-dot {
    width: 4.2667vw;
    height: 4.2667vw;
    cursor: pointer;
    border-radius: 50%;
    background: #979797;

    &.active {
      background: $main-color;
    }
  }
  main {
    padding-top: 4.0000vw;
  }

  .home-banner {
    .progress-bar {
      margin-top: 0;
    }
  }
  .home-banner__cont {
    height: auto;

    .swiper {
      height: 35.3333vw;
    }

    .btns {
      display: none;
    }

    .dots {
      display: none;
    }

  }
  .btn {
    padding: 2.1333vw 4.2667vw;
    font-size: 4.2667vw;
    line-height: 1;

    &::after {
      width: 5.3333vw;
      height: 2.4000vw;
      margin-left: 3.2000vw;
    }

    &.btn--white {
      padding: 2.1333vw 4.2667vw;
    }
  }
  .menu-block__items {
    display: none;


  }
  .menu-block__menu ul li a {
    font-size: 4.2667vw;
    line-height: 1.2;
    padding: 1.6000vw 4.0000vw;

  }
  .menu-block__menu > .sub-links {
    width: 100%;
    a {
      font-size: 4.2667vw;
      line-height: 1.2;
      padding: 1.6000vw 4.0000vw;

    }
  }
  .menu-block__menu > span {
    display: none;
  }
  .menu-block__menu {
    width: 100%;
    margin: 0;
    padding: 1.6000vw 0;

    .btn {
      margin-left: 4.0000vw;
      width: calc(100% - 8.0000vw);
      margin-right: 4.0000vw;
      margin-top: 2.6667vw;
      margin-bottom: 2.6667vw;
    }
  }
  .menu-block {
    position: static;
    opacity: 1;
    pointer-events: auto;
    box-shadow: none;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;

    .container {
      padding: 0;
    }
  }
  .header-menu > ul > li {
    &.open {
      .menu-block {
        max-height: 160.0000vw;
      }
    }
  }
  .header-menu > ul > li.menu-item-has-children.open > a::after {
    transform: translate(0, -50%) rotate(180deg);
  }

  .header-lang {
    width: 100%;
    padding: 2.6667vw 4.0000vw;
    border-top: 1px solid #F4F4F4;
    gap: 4.0000vw;
    justify-content: center;

    a, span {
      font-size: 4.2667vw;
      line-height: 1.2;
    }
  }
  .header-top__socs {
    width: 100%;
    display: flex;
    padding: 2.6667vw 4.0000vw;
    align-items: center;
    justify-content: center;
    gap: 4.0000vw;

    > a {
      width: 8.5333vw;
      height: 8.5333vw;

      svg {
        path {
          fill: #F4F4F4;
        }
      }
    }
  }
  .header-phones__block {
    position: static;
    opacity: 1;
    pointer-events: auto;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 2.6667vw 4.0000vw;
    border-top: 1px solid #F4F4F4;

    a, span {
      font-size: 3.7333vw;
      line-height: 1.2;
    }

    p {
      font-size: 3.2000vw;
      line-height: 1.2;
      margin-bottom: 2.6667vw;
    }
  }
  .header-top__menu-block {
    position: static;
    opacity: 1;
    pointer-events: auto;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 4.0000vw 0;

    ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        a {
          font-size: 4.2667vw;
          line-height: 1.2;
          padding: 1.3333vw 4.0000vw;
        }
      }
    }

  }
  .header-menu > ul > li.active > a, .header-menu > ul > li:hover > a {
    &::after {
      filter: brightness(0) invert(1);
    }
  }
  .header-menu {
    width: 100%;
    display: flex;

    > ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;

      > li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        padding: 0;
        border-top: 1px solid #F4F4F4;

        &:first-child {
          border-top: none;
        }

        > a {
          font-size: 4.2667vw;
          line-height: 1.2;
          width: 100%;
          padding: 2.1333vw 4.0000vw;
        }

        &.menu-item-has-children {
          > a {
            position: relative;

            &::after {

              width: 2.9333vw;
              height: 1.8667vw;
              display: inline-block;
              content: '';
              position: absolute;
              top: 50%;
              right: 4.0000vw;
              transform: translate(0, -50%);
              background: url("../img/arr-down.svg") no-repeat center / 100%;
            }
          }
        }
      }
    }
  }
  .header-bot__cont {
    padding: 2.1333vw 0;
  }
  .header-hidden {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.6667vw 0 18.3333vw;
    position: absolute;
    border-top: 1px solid #d9d9d9;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 13.3333vw);
    overflow-y: auto;
    background: #fff;
    transition: transform 0.6s ease-in-out;
    transform: translate(-110%, 0);

    .header-top__menu-block, .header-phones__block, .header-top__socs, .header-lang {
      display: flex;
    }
  }
  .header {
    &.active {
      .header-hidden {
        transition: transform 0.6s ease-in-out;
        transform: translate(0, 0);
      }
    }
  }
  .burger {
    display: flex;
    width: 6.4000vw;
    height: 4.2667vw;
    position: relative;
    margin-left: 2.6667vw;

    span {
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      span {
        background: $main-color;

        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }
  }
  .header-controls .search-block, .header-controls > a {
    width: 9.0667vw;
    height: 9.0667vw;
    padding: 1.8667vw;
  }
  .header-controls .search-block span, .header-controls > a span {
    top: 0.5333vw;
    right: 0.5333vw;
    width: 4.0000vw;
    height: 4.0000vw;
    font-size: 2.6667vw;
    line-height: 1;
  }

  .header-top {
    display: none;
  }
  .container {
    max-width: 100%;
    padding: 0 4.0000vw;
  }
  .header-bot__cont .logo {
    width: 35vw;
    margin-right: 2.5vw;
  }

  //
}